body{
    overflow-y: scroll;
}
.grid-container{
    border: 2px solid black;
    padding: 0;
    box-shadow: 4px 6px 20px #2c1a0d;
}
.is-dropdown-submenu{
    min-width: 3rem;
}
.pad{
    padding: 2rem 2rem;
}
h1{
    color:#cfced6;
}

.callout{
    margin: 5rem 0 5rem 0;
}

.header{
    background-color: #0d1932;
    box-shadow: 3px 5px 20px #a4a2a9;
}

.button{
    background-color: #1468a0;
    color: #cfced6;
    box-shadow: 3px 3px 2px #a4a2a9;
}
.button:hover{
    background-color: #cfced6;
    color: #1468a0;
    box-shadow: 3px 3px 2px #a4a2a9;
}

/*Large screen nav*/
.header .show-for-large ul li{
    padding: 1rem 0.5rem;
}
.header .show-for-large ul li a{
    color: #cfced6;
    text-shadow: 8px 5px 2px #000;
    font-size: 1rem;
}

.header ul li a:hover{
    color: #a4a2a9;
}

.header .fi-plus{
    text-shadow: 0 0 5px #fff, 0 0 10px #14a9f0, 0 0 15px #1468a0, 0 0 20px #1468a0, 0 0 30px #E33100, 0 0 40px #E33100, 0 0 50px #E33100, 0 0 75px #E33100;
}
.fi-power{
    text-shadow: 0 0 5px #fff, 0 0 10px #ff3a44, 0 0 15px #ff1521, 0 0 20px #a00004, 0 0 30px #E33100, 0 0 40px #E33100, 0 0 50px #E33100, 0 0 75px #E33100;
}

/*
SMALL SCREEN NAV
 */
.show-for-small-only .menu ul li{
    width: 1rem;
}
.show-for-small-only ul li a{
  color: #0d1932;
}
.fi-list {
	color: #cfced6;
}

.submenu{
    background-color: #cfced6;
}

.submenu a{
    color: #0d1932;
}
.submenu a:hover{
    text-shadow: 1px 1px #0d1932;
}

.contact{
    width: 100%;

}
label{
    font-weight: bold;
}
#message{
    height: 10rem;
}

.header img{
    height: 4rem;
    width: 7rem;
}

.cell h1{
    font-family: 'Playball', cursive;
}
.social li{
    list-style-type: none;
    display: inline-block;
    padding-right: 1.5rem;
}
.social li a{
    font-size: 4rem;
    color: #000;
}



footer{
    box-shadow: 3px 5px 20px #a4a2a9;
}

footer {
    color: #000000;
    text-align: center;
}
footer a i{
    font-size: 2rem;
    color: #010101;
}

hr{
    padding: 0 50px;
    color: #000000;
}
form {
    display: inline-block;
}



