.grid-container{
    border: 2px solid black;
    padding: 0;
    box-shadow: 4px 6px 20px #2c1a0d;
    background-color: #fbeec5;
}
.button{
    background-color: #2c1a0d;
}
.button:hover{
    background-color: #f9ce29;
    color:#2c1a0d
}
.callout{
    margin: 5rem 0 5rem 0;
}

.header{
    background-image: url(../img/header.svg);
    border: 3px solid black;
    box-shadow: 3px 5px 20px #2c1a0d;
}

table thead{
    background-image: url(../img/back.svg);
    border: 2px solid #2c1a0d;
    box-shadow: 3px 5px 20px #2c1a0d;
}
table thead tr th{
    text-align: center;
    color: #f9ce29;
    text-shadow: 8px 5px 2px #000;
    font-size: 1.5rem;
    padding: 2rem 0 2rem;
}

table tbody{
    background-color: #fbeec5;
    border: 2px solid #2c1a0d;
    box-shadow: 3px 5px 20px #2c1a0d;
}
.mjesto .button{
    background-color: #2c1a0d;
    color: #f9ce29;
    box-shadow: 3px 3px 2px #2c1a0d;
}
.mjesto .button:hover{

    background-color: #f9ce29;
    color: #2c1a0d;
    box-shadow: 3px 3px 2px #2c1a0d;
}

/*Large screen nav*/
.header .veliki ul li{
    padding: 70px 1px;

}
.header .veliki ul li a{
    color: #f9ce29;
    text-shadow: 8px 5px 2px #000;
    font-size: 2rem;
}

.header .veliki ul li a:hover{
    color: #2c1a0d;
    text-shadow: 5px 3px 2px #f9ce29;
    font-size: 2rem;
}

/*


SMALL SCREEN NAV


 */
.zuti{
    color: #f9ce29;
    text-shadow: 2px 2px 1px #2c1a0d;
}
.zuti:hover{
    color: #2c1a0d;
    text-shadow: 2px 2px 1px #f9ce29;
}
.sjena img:hover{
    box-shadow: 1px 2px 2px #2c1a0d;
}
.pad {
    padding: 30px;
}

.pad h1{
    font-family: 'Playball', cursive;
}
.social li{
    list-style-type: none;
    display: inline-block;
    padding-right: 1.5rem;
}
.social li a{
    font-size: 4rem;
    color: #000;
}

footer{
    background-image: url(../img/back.svg);
    box-shadow: 3px 5px 20px #2c1a0d;
}
footer img, .header img{width:100%;}
footer {
    color: white;
    text-align: center;
    border: 3px solid black;
}
footer a i{
    font-size: 2rem;
    color: white;
}

footer ul{
    list-style-type: none;
}
hr{
    padding: 0 50px;
    color: #ccc;
}
form {
    display: inline-block;
}
/*.mjesto{height: 500px;}*/


